<header>
  <h1>{{title}}</h1>
  <nav class="nav">
    <ul>
      <li>Link</li>
      <li>Link</li>
    </ul>
  </nav>
</header>

<section id="main">

  <!-- app-home is the home component nested inside the home component. This is why it's app-home. it points to the .html file b.c that is the view file in the component. -->
  <!-- 2. if you put something inside <app-home></app-home> it gets overriden by what is actually inside of app-home (remember: app-home points to the app/home/home.component.html file). HOWEVER, if you put <ng-content></ng-content> it looks for what's in the tags in app-home and outputs it there. -->

  <app-home>hi</app-home>


</section>
