<h2>People I've Met</h2>

<form id='filter'>
  <label>Search by company name: </label>
  <input text="text" [(ngModel)]='term' />


<ul id='people-listing'>
  <li *ngFor='let people of peoples'>
    <div class='single ninja'>
      <h3>{{people.name | uppercase }}</h3>
      <!-- 1. pipes can be functional too. example:  slice: 1:3 would slice off the 1st position and from the 3rd on.
    2. you can do multiple pipes (chaining) ex: | uppercase | slice: 1:3 -->

      <!-- Company Color  -->
      <span [ngStyle]='{background: people.color}' class='peopleCompany'> - {{people.company }} </span>
    </div>
  </li>
</ul>


<!-- <p [ngClass]="{'blue': true, 'red': false, 'underline': true}"> -->

<!-- attribute directive -->
  <!-- <p [ngClass]="classes">
  directory works!
</p> -->


<!-- structural directive -->
<!-- <p *ngIf="test">Only show if true</p> -->

<!-- <p>
{{person}}
</p> -->


<!-- <style>
  .blue{color: blue;}
  .red{color: red;}
  .underline{text-decoration: underline;}
</style> -->
