<p>
  {{homeTitle}} <!--string interpolation. variable from home.component.ts  -->
</p>
<p>{{person.name}}</p>
<p>{{person.company}}</p>
<button (click)="fireAddEvent($event)">Click Me!</button>
<!-- ^^ click event tied to btn. needs to be (click). So when the button is clicked the function fireAddEvent runs. You have an $event variable attached to it. This gets sent to the .ts file, which is your logic.-->

<!-- EARLIER LESSON CONTENT -->
<!-- </p>
<ng-content></ng-content> -->

<!-- property binding -->
<!-- <input value='{{homeString}}' />
<input required='{{homeBoolean}}' />
<button (click)='alertMe("hi there")'>Click me</button> -->


<!-- ********************** 2-WAY DATA BINDING ******************* -->
<!-- this info goes to the component. then the component sends it back to the view.  -->
<!-- <label>Name:</label>

<input type='text' [(ngModel)]="person.name" />
[] means look up the value from the component instead of treating it as a string or inline value. ()
<label>Company:</label>
<input [(ngModel)]='person.company' />

<p>{{person.name}}</p>
<p>{{person.company}}</p> -->
